#div_home{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-align: center;
    margin-top: 5%;
    JUSTIFY-CONTENT: center;
}
.figure{
    width: 300px;
    background: white;
    height: 400PX;
    position: relative;
    margin: 2%;
    border: solid 1px;
}

*.emergency-banner {
    padding-left: 30.0px;
    display: flex;
    margin-top: 30.0px;
    position: relative;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10.0px;
}

*.emergency-banner_text {
    width: 85.0%;
    display: block;
}

*.emergency-banner_btn {
    position: relative;
    text-align: center;
}

*.emergency_title-bann {
    font-weight: bold;
}