 #logo_banque {
    width: 55px;
    height:55px;
}

 #div_slider {
    position: absolute;
    top: 116px;
    width: 100%;
}

 body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

 .container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

 .navbar {
    z-index: 6000;
    height: 60px;
    background-color: white;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
    top: 0;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

 .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

 .nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #2f234f;
    text-decoration: none;
}

     .nav-elements ul a.active {
        color: #574c4c;
        font-weight: 500;
        position: relative;
    }

     .nav-elements ul a.active::after {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #574c4c;
    }

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #fef7e5;
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}




 .button.button-jaune {
    font-weight: normal;
    text-transform: none;
    color: var(--c-button-jaune-base-text);
    border: 1px solid var(--c-button-jaune-base-border);
    background-color: var(--c-button-jaune-base-background);
    background-image: none;
}

 #Routes {
    margin-top: 90px;
}

 .button.button-teal-blue {
    font-weight: normal;
    text-transform: none;
    color: var(--c-button-teal-blue-base-text);
    border: 1px solid var(--c-button-teal-blue-base-border);
    background-color: var(--c-button-teal-blue-base-background);
    background-image: none;
}


 *.emergency-banner_btn {
    padding-bottom: 10px;
    position: relative;
    text-align: center;
    padding-top: 10Px
}



 *.emergency-banner {
    padding-left: 30px;
    display: flex;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

 *.emergency-banner_text {
    width: 88%;
    display: block;
    margin-right: 23px;
}
