#div_panier {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -ms-flex-align: center;
    margin-top: 5%;
    margin: 50px
}

#div_panier fieldset {
    border: none;
}

#div_panier td {
    border: 1px solid #ddd;
    background: white;
}

#div_panier table {
    border-spacing: 0;
}

#div_panier .img-livre {
    height: 65%;
    width: 100%;
    display: INLINE-GRID;
    justify-content: center;
    position: absolute;
}

#div_panier .description-livre {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 27%;
}

#div_panier .image {
    height: 100%;
    width: auto;
    max-height: 70px;
    cursor: pointer;
}

#div_panier input[name="qte"] {
    width: 50px;
    border-radius: 30px;
}

#div_panier p {
    width: 100%;
    justify-content: left;
    display: flex;
}

#div_panier span[name="price"] {
    font-size: 20px;
    font-weight: bold;
    color: rebeccapurple;
}

#div_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Margin: 20px; */
}

#div_panier td:nth-child(2) div {
    display: flex;
    flex-direction: column;
}

#div_panier td div {
    margin-left: 20px;
    margin-right: 20px;
}

#div_panier #logo_delete {
    width: 30px;
    cursor: pointer;
}
#div_panier div[name="offer"] {
    margin-left:0;
    display: flex;
    margin-top: -20px;
}
#div_panier div[name="offer"] input {
    margin-right: 10px;
}


#div_panier #tab_recap td{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}