.title {
    background: linear-gradient(90deg,#e41937 0%,#762f8f 74.48%);
    display: flex;
    width: 69%;
    padding: 0;
    border: 0 none;
    border-radius: 0;
    font-size: 29px;
    position: fixed;
    height: 65px;
    color: white;
    justify-content: center;
    z-index: 2000;
}

.img-livre {
    height: 65%;
    width: 100%;
    display: INLINE-GRID;
    justify-content: center;
    position: relative;
    margin-top: 7%;
}

#synopsis {
    margin: 20px;
    line-height: 1.5;
}

.title h3 {
    margin-top: 7px;
}

#logo_close {
    float: right;
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-top: 2%;
    POSITION: ABSOLUTE;
    RIGHT: 40px;
}



 {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 27%
}

.text-fc-2 {
    color: #176d8c;
    margin-bottom: 30px;
    margin-top: 16px;
    font-weight: bold
}

 input {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    appearance: none;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 60%;
}

 select {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    appearance: none;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 100%;
}

#btn-valider {
    cursor: pointer;
}


 /*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}*/

/* Change the link color on hover */
/*li a:hover {
    background-color: #555;
    color: white;
}

label {
    font-weight: bold;
    width: 40% !important;
    padding-top: 10px;
}

.display {
    display: flex;
    flex-wrap: wrap;
}*/