
#mon_profile #container {
    display: flex;
    flex-direction: column;
    align-items: normal !important;
    width: 100% !important;
    padding: 2% !important;
    margin-left: 0 !important;
    line-height: 2
}

#mon_profile #container .text-fc-2 {
    color: #176d8c;
    margin-bottom: 30px;
    margin-top: 16px;
    font-weight: bold
}

#mon_profile #container input {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    appearance: none;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 100%;
}

#mon_profile #container select {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 70% !important;
}

#mon_profile #btn-valider {
    cursor: pointer;
}

#mon_profile #container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    WIDTH: 70%;
}

#mon_profile #container li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

#mon_profile label {
    font-weight: bold;
    max-width: 40%;
    padding-top: 10px;
}

#mon_profile .display {
    display: flex;
    flex-wrap: wrap;
}

#mon_profile .display {
    display: flex;
    flex-wrap: wrap;
}

#mon_profile .display label {
    width: 25%
}

#mon_profile .display input {
    width: 70% !important;
}




@import url("https://fonts.googleapis.com/css2?family=Grandstander&display=swap");

#mon_profile body {
    font-family: "Grandstander", cursive;
}


#mon_profile #container .container {
    height: 100vh;
}

#mon_profile #container .side-nav,
.nav-menu {
    height: 100%;
}

#mon_profile #container .side-nav .nav-menu {
    list-style: none;
    padding: 40px 0;
    width: 80%;
    background-color: #3498db;
    margin-top: -60px;
    margin-left: -32px;
    height: 100%;
    min-height: 580px;
}

#mon_profile #container .side-nav .nav-item {
    position: relative;
    padding: 10px 20px;
}

#mon_profile #container .nav-item.active {
    background-color: #fff;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}

#mon_profile #container .nav-item.active a {
    color: #2980b9;
}

#mon_profile #container .nav-item a {
    text-decoration: none;
    color: #fff;
}

#mon_profile #container .menu-text {
    padding: 0 20px;
}

#mon_profile #container .side-nav .nav-item.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 20px 0 0 #fff;
}

#mon_profile #container .side-nav .nav-item.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-top-right-radius: 25px;
    box-shadow: 0 -20px 0 0 #fff;
}

#mon_profile table, td {
    border: 1px solid #007fb2;
    WIDTH: 100%;
}

#mon_profile table td {
    width: 30%;
    padding: 20px;
    text-align: center;
}

#mon_profile  thead,tfoot {
    background-color: #007fb2;
    color: #fff;
}


#mon_profile #btn-valider {
    cursor: pointer;
    margin-top: 26px;
}