
#se_connecter #container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%
}

#se_connecter .text-fc-2 {
    color: #176d8c;
    margin-bottom: 30px;
    margin-top: 16px;
    font-weight: bold
}

#se_connecter #container input {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    appearance: none;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 100%;
}

#se_connecter #container select {
    background-color: hsla(0,0%,100%,0) !important;
    border-left: none !important;
    border-radius: inherit !important;
    border-right: none !important;
    border-top: none !important;
    padding: 0.5rem 22px 0 0;
    position: relative;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 30px;
    box-shadow: none;
    box-sizing: border-box;
    color: #0a0a0a;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    height: 2.4375rem;
    line-height: 1.5;
    margin: 0 0 1rem;
    padding: 0.5rem 0;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    width: 100% !important;
}

#se_connecter #btn-valider {
    cursor: pointer;
    margin-top: 26px;
}


#se_connecter label {
    font-weight: bold;
    padding-top: 10px;
    max-width:100% !important;
}