body {
    font-family: "HelloTypeNext-Regular",Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--c-text-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.don {
    color: white;
    border: 1px solid var(--c-button-teal-blue-hover-border);
    background: #007fb2;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    min-width: 100px;
    text-align: center;
}

#popup {
    width: 70%;
    max-height: 85%;
    z-index: 50000;
    position: fixed;
    top: 10%;
    margin-left: 14%;
    overflow: scroll;
    display: none;
    font-size: 15PX !important;
    background: white;
}